

Img{
    position:absolute;
}

div {
    position:absolute;
    width:500px;
    height:500px;

}

#rightSide{
    left:500px;
    border-left: 2px solid black;
}
#leftSide{
    position:absolute;
}